.about {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about p {
  color: #eeeeee;
  font-size: 2rem;
}
.about p span {
  color: #fd7014;
}
#resume-description {
  font-size: 1rem;
  margin-top: 2rem;
}
a {
  color: #fd7014;
  text-decoration: none;
}
.accordion {
  width: 400px;
}
.card {
  background-color: #393e46;
}
.card-body {
  color: #eeeeee;
}
.about img {
  max-height: 480px;
  height: auto;
  width: 100%;
}

/* Tablet  */

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
  }
}

/* Mobile  */

@media only screen and (max-width: 440px) {
  .about {
    padding-top: 1rem;
    width: 100%;
  }
  .about p {
    font-size: 1.5rem;
  }
  .about img {
    height: 320px;
  }
}
