/* Project  */
.projects {
  padding: 4rem 0 4rem;
  /* max-width: 1300px; */
}
.projects h1 {
  color: #eeeeee;
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fd7014;
}
/* Project Examples Section */
.projects-examples {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem;
  gap: 2.5rem;
}
.projects-examples h1 {
  color: #fd7014;
  text-decoration: underline;
  text-decoration-color: #eeeeee;

  padding-bottom: 2rem;
}
.projects-examples p,
li {
  color: #eeeeee;
  font-size: 1.3rem;
  line-height: 1.3;
  padding-bottom: 0.8rem;
}
.projects-examples p {
  margin-left: 2rem;
}
.projects-examples ul {
  margin-top: 3rem;
}
/* Link Button  */

.projects-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects-content button {
  color: #fd7014;
  font-weight: 500;
  background-color: #eeeeee;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 6px 15px;
  border: none;
}

/* Github logo  */
.projects-content img {
  max-height: 36px;
  width: auto;
  height: 100%;
  margin-top: 0.5rem;
}
img {
  height: 100%;
  height: auto;
  max-width: 600px;
}
/* Small Desktop  */

@media only screen and (max-width: 1108px) {
  .projects-examples p,
  li {
    font-size: 1.2rem;
    /* gap: 1rem; */
  }
}

/* Smaller Screen  */

@media only screen and (max-width: 920px) {
  .projects-examples {
    flex-direction: column;
    align-items: center;
  }
}
/* Tablet  */

@media only screen and (max-width: 768px) {
  .projects {
    padding: 3rem 0 3rem;
  }
  /* Image  */
  img {
    width: 100%;
    max-width: 580px;
    height: auto;
  }
  .projects-content {
    margin-top: 2rem;
    padding: 2rem;
    border: 4px solid #eeeeee;
    border-radius: 3px;
  }
}
/* Mobile  */

@media only screen and (max-width: 440px) {
  .projects {
    padding: 3rem 0 3rem;
  }
  .projects-examples {
    gap: 0;
    padding: 1rem;
  }
  .projects-examples p,
  li {
    font-size: 1.2rem;
  }
  /* .projects-examples img {
    padding-top: 2rem;
  } */
  .projects-content {
    padding: 1rem;
  }
  .projects-content img {
    max-height: 36px;
    width: auto;
    height: 100%;
  }
}
