.resume {
  padding: 3rem 0 3rem;
  margin-left: auto;
  margin-right: auto;
}
.resume-screenshot {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  gap: 3rem;
}
.resume h1 {
  text-align: center;
  color: white;
  font-weight: 200;
}
.resume-screenshot img {
  height: 600px;
}

/* Tablet  */

@media only screen and (max-width: 768px) {
  .resume-screenshot {
    gap: 1rem;
  }
  .resume-screenshot img {
    height: 400px;
  }
}

/* Mobile  */

@media only screen and (max-width: 400px) {
  .resume-screenshot {
    flex-direction: column;
    align-items: center;
  }
  .resume-screenshot img {
    width: auto;
  }
}
