.work {
  padding: 3rem 0 3rem;
}
.work h2,
p {
  text-align: center;
  color: #eeeeee;
}
.work-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}
img {
  height: 500px;
}
